{{!
	HTML Template for:
		Email 03.png: Contact Added
}}
<head>
	<link rel="stylesheet" href="style.css">
</head>
<table class="box" cellpadding="0" cellspacing="0">
	<tr>
		<th class="title">Contact Added</th>
	</tr>
	<tr>
		<td class="description">
			<div>The following contact as been added to {{#if customer}}{{customer}}{{else}}{{location}}{{/if}} by {{createUser.firstName}} {{createUser.lastName}}.</div>
			<br />
			<div>{{#if person.firstName}}{{person.firstName}}{{/if}} {{#if person.lastName}}{{person.lastName}}{{/if}} {{#if person.email}}(<span class="email">{{person.email}}</span>){{/if}}</div>
			<div>Primary Phone: {{#if person.phone}}{{person.phone}}{{else}}None{{/if}}</div>
			<div>Cell Phone: {{#if person.cell}}{{person.cell}}{{else}}None{{/if}}</div>
			<div>Fax Phone: {{#if person.fax}}{{person.fax}}{{else}}None{{/if}}</div>
			{{#if customer}}
			<div>Parent Summary Report: {{parentSummary}}</div>
			<div>Distribution Options:</div>
			<div>
				<ul class="optionsList">
					<li>QA Notices: {{qaCreation}}</li>
					<li>Daily QA Notifications: {{qaUpdates}}</li>
					<li>Weekly Notifications: {{weeklySummary}}</li>
				</ul>
			</div>
			{{/if}}
		</td>
	</tr>
</table>
