.box {
	width: 400px;
	border: 1px solid #000;
	font-family: arial, sans-serif;
}
.title {
	background-color: #0400B1;
	color: #fff;
	height: 20px;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.title span {
	margin-left: 7px;
	font-size: 14px;
}
.description {
	font-size: 12px;
	padding: 10px;
}
.email  {
	color: #036FFF;
	font-weight: bold;
}
.optionsList {
	margin-top: 0;
	margin-bottom: 0;
}
